<div class = "home-container">
    <div class = "homeinfo-container"> 
        <h1>Cinema IronHack</h1>
        <div class = "home-button"><a href="/movies">Check the movies!</a></div>
    </div>
</div>

